<html>
<head>
	<title>Apex</title>
	<script src="/static/homepage/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/homepage/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<div class="header-container">
		<div>
			<i class="apex-launcher-logo"></i>
			<div class="social-buttons">
				<i class="social-button social-button--gplus"></i>
				<i class="social-button social-button--facebook"></i>
				<i class="social-button social-button--twitter"></i>
				<i class="social-button social-button--medium"></i>
			</div>
		<div>

		<div>
			<i class="phone-showcase">
				<video class="video-showcase" loop autoplay>
					<source src="/static/homepage/video/phone-header-video.mp4" type="video/mp4">
					Such old. Very ancient. Dis broswer no support HTML5 video
				</video>
			</i>
			<div class="download-component-group">
				<span class="download-description">Customize your home<br/>screen experience</span>
				<div class="download-buttons">
					<i class="download-button download-button--free"></i>
					<i class="download-button download-button--pro"></i>
				</div>
				<br />
				<a>DOWNLOAD APK</a>
			</div>
		</div>
	</div>
	<div class="content-container">
		<div class="improve-your-android">
			<div class="improve-your-android-header">Improve your Android with Apex Launcher</div>
		</div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div id="footer">
	</div>
</body>
</html>
