<html>
<head>
	<title>Apex</title>
	<script src="/static/homepage/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/homepage/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/homepage/css/index.mobile.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div class="header-container">
		<div class="header-title">
			<i class="apex-launcher-logo"></i>
			<div class="social-buttons desktop">
				<i class="social-button social-button--facebook"></i>
				<i class="social-button social-button--twitter"></i>
				<i class="social-button social-button--medium"></i>
				<i class="social-button social-button--gplus"></i>
			</div>
		</div>

		<div>
			<i class="phone-showcase desktop">
				<video class="video-showcase" loop autoplay>
					<source src="/static/homepage/video/phone-header-video.mp4" type="video/mp4">
					Such old. Very ancient. Dis broswer no support HTML5 video
				</video>
			</i>
			<div class="download-component-group">
				<span class="download-description">Customize your home<br/>screen experience</span>
				<div class="download-buttons">
					<i class="download-button download-button--free"></i>
					<i class="download-button download-button--pro"></i>
				</div>
				<br />
				<!-- <a class="link link--underline">DOWNLOAD APK</a> -->
				<div class="social-buttons moblie">
					<i class="social-button social-button--facebook"></i>
					<i class="social-button social-button--twitter"></i>
					<i class="social-button social-button--medium"></i>
					<i class="social-button social-button--gplus"></i>
				</div>
				<i class="phone-showcase moblie">
					<video class="video-showcase" loop autoplay>
						<source src="/static/homepage/video/phone-header-video.mp4" type="video/mp4">
						Such old. Very ancient. Dis broswer no support HTML5 video
					</video>
				</i>
			</div>
		</div>
	</div>
	<div class="content-container">
		<div class="space-after-phone-showcase"></div>
		<div class="improve-your-android">
			<div class="improve-your-android-header">Improve your Android with Apex Launcher</div>
			<div class="improve-your-android-tips-groups">
				<div class="improve-your-android-tips-group">
					<div class="improve-your-android-tips-title">
						<i class="tips-icon tips-icon--customizable"></i>
						<span class="tip-title-text">Customizable</span>
						<span class="tip-title-summary">
							Take control of your homescreen experience with powerful customization options.
						</span>
					</div>
					<div class="improve-your-android-tips">
						<span class="improve-your-android-tip">Customizable homescreen grid size</span>
						<span class="improve-your-android-tip">Up to 9 homescreens</span>
						<span class="improve-your-android-tip">Scrollable dock <br />Up to 7 icons per page and up to 5 pages</span>
						<span class="improve-your-android-tip">Drawer app sorting and hiding <br />(title, install date, most used)</span>
						<span class="improve-your-android-tip improve-your-android-tip--pro">Multiple configurable drawer tabs</span>
						<span class="improve-your-android-tip improve-your-android-tip--pro">Enhanced folder support<br /> (batch add, merge folders)</span>
						<span class="improve-your-android-tip improve-your-android-tip--pro">Advanced widget options <br />(widgets in dock, overlapping widgets)</span>
					</div>
				</div>
				<div class="improve-your-android-tips-group">
					<div class="improve-your-android-tips-title">
						<i class="tips-icon tips-icon--beautiful"></i>
						<span class="tip-title-text">Beautiful</span>
						<span class="tip-title-summary">
							Personalize your device with our advanced theme engine.
						</span>
					</div>
					<div class="improve-your-android-tips">
						<span class="improve-your-android-tip">Awesome transition effects</span>
						<span class="improve-your-android-tip">Hide items <br />(search bar, status bar, or even the dock)</span>
						<span class="improve-your-android-tip">Customizable icons and labels for<br />shortcuts and folders</span>
						<span class="improve-your-android-tip">Choose different folder preview styles<br />and background</span>
						<span class="improve-your-android-tip improve-your-android-tip--pro">Multiple drawer styles<br /> (transparent/opaque, horizontal/vertical,<br />paginated/continuous)</span>
						<span class="improve-your-android-tip improve-your-android-tip--pro">Flexible theme options<br /> (ADW, LauncherPro, Go Launcher)</span>
						<span class="improve-your-android-tip improve-your-android-tip--pro">Additional transition effects <br />(accordion, cross, and more)</span>
					</div>
				</div>
				<div class="improve-your-android-tips-group">
					<div class="improve-your-android-tips-title">
						<i class="tips-icon tips-icon--fast"></i>
						<span class="tip-title-text">Lightning Fast</span>
						<span class="tip-title-summary">
							Optimized to be ultra responsive on all Android systems.
						</span>
					</div>
					<div class="improve-your-android-tips">
						<span class="improve-your-android-tip">Low system memory footprint</span>
						<span class="improve-your-android-tip">Optimized for both phones and tablets</span>
						<span class="improve-your-android-tip">Works with Android 7.0 Nougat</span>
					</div>
				</div>
			</div>
		</div>
		<div class="community-and-users">
			<div class="community">
				<span class="community-title">Trusted and respected in the Android community</span>
				<div class="community-comments">
					<div class="community-comment">
						<i class="community-comment-icon community-comment-icon--techworm"></i>
						<span class="community-comment-text">…smooth performance and ease-of-use<br />with a good level of customization.</span>
					</div>
					<div class="community-comment">
						<i class="community-comment-icon community-comment-icon--android-names"></i>
						<span class="community-comment-text">…switching between screens are smooth and<br />beautiful thanks to its scrollable dock and<br />infinite & elastic scrolling.</span>
					</div>
					<div class="community-comment">
						<i class="community-comment-icon community-comment-icon--devslab"></i>
						<span class="community-comment-text">…very light as compared to other launchers<br />that provide the same features.</span>
					</div>
				</div>
				<div class="community-comments">
					<div class="community-comment">
						<i class="community-comment-icon community-comment-icon--lifehacker"></i>
						<span class="community-comment-text">…tons of beautiful transition and<br />scroll effects.</span>
					</div>
					<div class="community-comment">
						<i class="community-comment-icon community-comment-icon--android-authority"></i>
						<span class="community-comment-text">Apex Launcher remains one of the most<br />iconic Android launcher apps ever.</span>
					</div>
				</div>
			</div>
			<div class="users">
				<span class="community-title">Loved by millions of Android users</span>
				<div class="community-comments">
					<div class="community-comment">
						<i class="user-icon user-icon--ethan"></i>
						<span class="username">Ethan Beck</span>
						<i class="five-star"></i>
						<span class="community-comment-text">…there are a few *really* good<br />launchers out there; this is one<br />of them.</span>
					</div>
					<div class="community-comment">
						<i class="user-icon user-icon--mouhaad"></i>
						<span class="username">Mouâadh Sami</span>
						<i class="five-star"></i>
						<span class="community-comment-text">Best launcher hands down. I always<br />come back to apex no matter how<br />many launchers I try.</span>
					</div>
					<div class="community-comment">
						<i class="user-icon user-icon--ron"></i>
						<span class="username">Ron D</span>
						<i class="five-star"></i>
						<span class="community-comment-text">By far the easiest and the most<br/>versatile launcher.</span>
					</div>
					<div class="community-comment">
						<i class="user-icon user-icon--tommy"></i>
						<span class="username">Tommy Dozier</span>
						<i class="five-star"></i>
						<span class="community-comment-text">I've tried most others on the<br />market and Apex surpasses all<br/>of them easily.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="partner-with-us">
			<div class="partner-with-us-container">
				<div class="partner-with-us-content">
					<span class="partner-with-us-title">Partner with us</span>
					<span class="partner-with-us-text">Millions of people use Apex Launcher on their Android devices everyday. Our app recommendation platform will help your app reach the right audience at the right time. </span>
					<i class="contact-us-icon"></i>
				</div>
				<i class="phone-partners desktop"></i>
			</div>
		</div>

		<div class="customize-your-home">
			<div class="customize-your-home-container">
				<span class="customize-your-home-title">Customize your home screen experience</span>
				<div class="download-button-group--bottom">
					<i class="download-button download-button--bottom download-button--free"></i>
					<i class="download-button download-button--bottom download-button--pro"></i>
				</div>
			</div>
		</div>

	</div>
	<div class="footer">
		<div class="footer-links">
			<a class="link">APK DOWNLOAD</a>
			<a class="link">FAQ</a>
			<a class="link">REQUEST FEATURES</a>
			<a class="link">CONTACT US</a>
		</div>
		<div class="social-buttons social-buttons--footer">
			<i class="social-button social-button--facebook"></i>
			<i class="social-button social-button--twitter"></i>
			<i class="social-button social-button--medium"></i>
			<i class="social-button social-button--gplus"></i>
		</div>
		<div class="copyright-2017-apex">
			Copyright 2017 Apex Launcher. All rights reserved.
		</div>
	</div>
</body>
</html>
